<div class="recipe">
  <h4><%= recipe.name %><span><%= recipe.time_needed %></span></h4>
  <div class="recipe-details">
    <ul class="left">
        <% recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient %></li>
        <% end %>
    </ul>
    <div class="right">
      <% unless recipe.image_url.blank? %>
        <img src=<%= recipe.image_url %> width=420px height=344px>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <br>
  <br>
  <br>
</div>
