* {
  font-family: sans-serif;
}

.left {
   width: 450px;
   height: 344px;
   float: left;
   overflow: auto;
 }

 .right {
   margin-left: 450px;
 }

 .clear {
   clear: both;
 }
 
 h4 > span {
     font-family: monospace;
     margin-left: 40px;
   }
 }
